

div.row
{
  display:flex;
}

div#atextr div.buttons.row
{
  display: flex;
  justify-content: center;
}


div#repairedit div div.heading.row
{
  display: flex;
   justify-content: space-around;
  background-color:  #6F6;

}

#ashape  img
{
  width: 100%;
  height:100%;
}

#ashaper  img
{
  width: 100%;
  height:100%;
}



div.activecontainer
{
  display:flex;
  background-color:  #6F0;
  margin-top:10px;
}


div.mastercontainer div.container div.dialogname
{
  font-size: 0.8em;
}

div.mastercontainer
{
  display:flex;
  background-color:  #6F6;
  margin-top:10px;
}

div.container {
position: relative;
z-index: 0;
width: 300px;
}

div.container.red {
  background-color:  #F00;
}

div.replyfield.red {
  color:  #F00;
}

div.containerr {
position: relative;
z-index: 0;
width: 300px;
}

div.containerfr {
position: relative;
z-index: 0;
width: 300px;
text-align: center;
}

#atext {
position: absolute;
z-index: 2;
top: 30%;
text-align: center;
margin: auto;
width:100%;
}

#container {
position: relative;
z-index: 0;
height: 100px;
width: 300px;
}

#ashape {
position: absolute;
z-index: 1;
background-color: #6F0;
height: 100%;
width: 100%;
top: 2px;
left: 2px;
}

#containerr {
position: relative;
z-index: 0;
height: 150px;
width: 300px;
}

#containerfr {
position: relative;
z-index: 0;
height: 150px;
width: 300px;
}


#ashaper {
position: absolute;
z-index: 1;
background-color: #6F0;
height: 98%;
width: 100%;
top: 2px;
left: 2px;
transform: rotate(180deg);
}

#atextr {
position: absolute;
z-index: 2;
top: 47%;
text-align: center;
margin: auto;
width:100%;
}

#atextfr {
position: absolute;
z-index: 2;
top: 45%;
text-align: center;
margin: auto;
width:100%;
}

div.activecontainer input[placeholder]
{
  color: red;
}


 div.dialogtext
{
  background : yellow;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


div.connect  div.text
{
  width: 15em;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: visible;
}


div.stepcontainer img.thumb
{
  width: 50px;
}

div.activestepcontainer img.thumb
{
  width: 75px;
}


div.stepcontainer
{
  background-color:  #6F6;
  border-bottom:  5px solid green;
}

div.activestepcontainer
{
  background-color:  #6F0;
  border-bottom:  3px solid green;
}


div.infocontainer
{
  border-bottom:  1px solid green;

}

div.repair.row div
{
   width : 20em;
}
