
form div.heading
{
  color:red;
  font-size: 1.8em;
  background-color : #d3e8b3;
}

div.form div label
{
  width:6em;
  font-size:1.2em;
  margin-left: 5em;
  display:inline-block ;
}

form button
{
  font-size: 1.6em;
}
