{# views/message/template/adminemailfooter.html.twig #}



<div class="mailfooter">
<table >
<tr >
<td colspan="3" >You have received this email because you are a FFLSAS.org administrator </td>
</tr>
<tr>

<td class="middle"><a href="{{baseurl}}en/login">FFLSAS.ORG</a>  </td>

</tr>
</table>
</div>
