{# views/message/template/en/dereg.notice.html.twig #}
<div class="messageheading"> 
 <div class="label">De-register</div>
</div>
<div class="bodytext">
   To de register from the site FFLSAS.org you will need to click on the link below.
</div>


<div class="link">
  <a href="{{reglink}}" >De-register</a>
</div>
<div class= "bodytext">
 You will need to re-register if you wish to join the site at a later date.
</div>


