{# views/message/template/en/emailvalidationcomplete.html.twig #}

<div class="messageheading"> 
 <div class="label">Registered</div>
</div>
<div class="bodytext">
 You have successfully confirmed your Email address. The administrator will review your application and will be in touch.
</div>

<div class= "bodytext">
 
</div>

