{# views/message/template/en/emailheader.html.twig #}



<div class="mailheader">
<table >
<tr>
<td class="left"><img src="{{baseurl}}common/ifixit1.gif" border="0"> </td>
<td class="middle">Message from IFIXIT  </td>
<td class="right"><img src="{{baseurl}}common/ifixit2.gif" alt="" border="0"> </td>
</tr>
</table>
</div>
