{# views/message/template/emailfooter.html.twig #}



<div class="mailfooter">
<table >
<tr >
<td colspan="3" >You have received this email because you are inscribed on IFIXIT web site </td>
</tr>
<tr>
<td class="left"><a href="{{baseurl}}deregister/{{'userid'}}">De-register</a> </td>
<td class="middle"><a href="{{baseurl}}">IFIXIT.ORG</a>  </td>
<td class="right"  ><a href="{{baseurl}}/confidentiality">confidentiality statement</a> </td>
</tr>
</table>
</div>
