{# views/message/template/en/reg_notice.html.twig #}
<div class="messageheading"> 
 <div class="label">Site Registration</div>
</div>
<div class="bodytext">
   You have successfully registered with site FFLSAS.org and now need to confirm your emial address.
</div>
<div class="bodytext">
   Either visit the site and enter the code <{{code}}>  when asked.
</div>
<div class="bodytext">  
   Or click on the following link;
</div>
<div class="link">
  <a href="{{reglink}}" >Register</a>
</div>
<div class= "bodytext">
 
</div>


