{# views/message/template/en/registrationcompletion.html.twig #}

<div class="messageheading"> 
 <div class="label">Registration Accepted</div>
</div>
<div class="bodytext">
 The administrator has approved your membership of our site FFLSAS. We hope that you find the site informative and invite you to share any comments or contributions with us.
</div>

<div class= "bodytext">
 
</div>

