{# views/message/template/fr/registrationcompletion.html.twig #}
<div class="messageheading"> 
 <div class="label">Registration not approved</div>
</div>
<div class="bodytext">
The administrator has not approved your membership of the site FFLSAS.
</div>

<div class= "bodytext">
 
</div>

