{# views/message/template/en/resetpassword.success.html.twig #}
<div class="messageheading"> 
 <div class="label">Password sucessfully reset</div>
</div>
<div class="bodytext">
     You have sucessfully changed your FFLSAS.org password.
</div>


