{# views/message/template/en/visitoremailfooter.html.twig #}



<div class="mailfooter">
<table >
<tr >
<td colspan="3" >You have received this email because you left a message on the FFLSAS.org site.</td>
</tr>
<tr>
<td class="left"><a href="{{baseurl}}en/register">Register</a> </td>
<td class="middle"><a href="{{baseurl}}en/login">FFLSAS.ORG</a>  </td>
<td class="right"><a href="{{baseurl}}en/content/194">confidentiality statement</a> </td>
</tr>
</table>
</div>
