<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="max-age=2000" />
    <link rel="icon" type="image/x-icon" href="{{asset('favicon.ico')}}" />
    <link rel="shortcut" type="image/x-icon" href="{{asset('favicon.ico')}}" />

   {% block title %}
        <title>IFIXIT</title>
   {% endblock %}



        {% block stylesheets %}
               <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% block header %}{% endblock %}
         {% block middle %}{% endblock %}
         {% block footer %}{% endblock %}
         {% endblock %}
    </body>
</html>
